@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

header .top-w, header .top-phone-w, header .banner-w {
  display: flex;
  align-items: center; }

/* @import ./animations */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  position: relative; }
  body .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F6A219;
    transition: 0.5s;
    padding: 0 24px; }
    body .btn:hover {
      background-color: #e69714; }

a {
  text-decoration: none;
  color: black; }

.container-1 {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%; }

.container-2 {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%; }

header {
  position: relative;
  min-height: 625px;
  background: #D4EFF8;
  z-index: 0; }
  header::before {
    content: " ";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: url(../img/banner-bg.svg) no-repeat top center;
    z-index: -1; }
  header .top {
    padding-top: 16px;
    z-index: 1; }
  header .top-w {
    justify-content: flex-end; }
  header .logo {
    width: 400px;
    display: flex;
    margin-right: auto; }
    header .logo .logo-img {
      margin-right: 14px; }
    header .logo .logo-descr {
      margin-top: 11px;
      max-width: 278px;
      width: 100%;
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 140%;
      /* @extend %extend-example */ }
  header .top-phone-w {
    margin-right: 16px; }
  header .top-phone-img {
    margin-right: 8px; }
  header .top-phone-info {
    font-size: 16px;
    font-weight: 800;
    line-height: 140%;
    /* @extend %extend-example */ }
  header .top-call {
    margin-right: 40px;
    color: #0036B0; }
  header .top-btn-box {
    height: 36px;
    padding: 8px 16px;
    margin-right: 24px; }
  header .top-btn-img {
    margin-right: 4px; }
  header .top-btn-link {
    font-size: 14px;
    font-weight: 800;
    line-height: 140%;
    /* @extend %extend-example */
    color: white; }
  header .burger {
    padding: 10px 7px;
    display: flex;
    flex-direction: column; }
    header .burger span {
      display: inline-block;
      width: 22px;
      height: 3px;
      background-color: #0036B0;
      margin-bottom: 3px; }
      header .burger span:nth-child(2) {
        width: 19px; }
      header .burger span:nth-child(3) {
        width: 16px;
        margin: 0; }
  header .banner {
    z-index: 1;
    margin-top: -18px; }
  header .banner-l {
    margin-right: -43px; }
  header .banner-title {
    margin-bottom: 16px; }
    header .banner-title h1 {
      font-size: 39px;
      font-weight: 800;
      line-height: 130%;
      /* @extend %extend-example */ }
  header .banner-descr {
    max-width: 510px;
    margin-bottom: 40px; }
  header .banner-btn {
    height: 48px;
    background-color: #0036B0;
    color: white;
    font-size: 14px;
    font-weight: 800;
    line-height: 140%;
    /* @extend %extend-example */ }
    header .banner-btn:hover {
      background-color: #002476; }

/*# sourceMappingURL=index.css.map */
