@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* input
    -webkit-appearance: none
    border-radius: 0 */
.features__item, .main__feature-w, .main__descr-w, .main__contacts-w, .nav-research__link, .nav-research__busket-btn, .nav-research__buttons-w, .nav-research__search-w, .nav-research__presearch-wrapper, .nav-research, .nav-contacts__phone, .nav-contacts__messangers, .nav-contacts__link-wrapper, .card__item {
  display: flex;
  align-items: center;
}

/* ===== header ===== */
.nav-contacts__link:hover {
  text-decoration: underline;
}

.nav-contacts__icon:hover {
  width: 0.875rem;
  height: 0.875rem;
}

.credits__chats-links:hover {
  width: 17px;
  height: 17px;
}

.nav-contacts__phone:hover {
  text-decoration: underline;
}

.nav-research__btn-catalog-w:hover {
  cursor: pointer;
}

.nav-research__presearch-wrapper .btn:hover {
  background: #595ccb;
}

.nav-research__input-control:hover {
  background: #595ccb;
  cursor: pointer;
}

.nav-research__text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-research__icon:hover {
  height: 22px;
  width: 22px;
}

.main__adress-text:hover {
  text-decoration: underline;
}

.main__button:hover {
  cursor: pointer;
  background: #efefef;
  color: #3e43e6;
  padding-right: 2.7rem;
  padding-left: 2.7rem;
}

/* ===== card-animations SECTION-store ===== */
.card__price-icon:hover {
  background: #efefef;
  cursor: pointer;
}

.store__card:hover {
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  cursor: pointer;
}

.card__btn:hover {
  font-size: 0.8rem;
  background: #595ccb;
  cursor: pointer;
  padding: 0.5rem 1.9rem;
}
.card__btn:hover .card__content {
  padding: 1.23rem 1.4rem;
}

.card__icon-compare:hover {
  border: 1px solid grey;
  cursor: pointer;
}

.notify__custom-checkbox:hover {
  cursor: pointer;
}

.notify__text:hover {
  cursor: pointer;
}

.cta__form-button:hover {
  font-size: 1.1rem;
  background: #595ccb;
  cursor: pointer;
  padding: 0.5rem 1.8rem;
}

.submit__input-group .submit__btn:hover {
  cursor: pointer;
  background: #efefef;
  color: #3e43e6;
  padding: 0.9375rem 1.4rem;
  font-size: 1.1rem;
}

.menu__link:hover, .menu__title:hover, .menu__center-name:hover, .menu__center-phone:hover, .menu__cta:hover, .credits__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.links-social__app:hover, .links-social__media-item:hover, .credits__payment-item:hover {
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.modal__form-button:hover {
  font-size: 1.1rem;
  background: #595ccb;
  cursor: pointer;
  padding: 0.9375rem 3.6rem;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  position: relative;
  color: #282739;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
}

.separator {
  width: 100%;
  margin: 0 auto;
  height: 1.5px;
  background: #ECF3FF;
}

.container-b {
  max-width: 86.25rem;
  margin: 0 auto;
  width: 100%;
}

.container-l {
  max-width: 69.3125rem;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.6875rem;
  color: #282739;
  /* @extend %extend-example */
  text-transform: uppercase;
}

.title {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 3.1875rem;
  color: #282739;
  /* @extend %extend-example */
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1.5px solid #EAEBED;
  border-radius: 13px;
}
.card__content {
  flex-basis: 50%;
  padding: 1.25rem 1.5rem;
}
.card__label {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.625rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 1.25rem;
}
.card__descr {
  margin-bottom: 1.5625rem;
}
.card__list {
  columns: 2 auto;
  column-gap: 1.43rem;
}
.card__item {
  margin-bottom: 1rem;
}
.card__item:nth-child(2), .card__item:nth-child(4) {
  margin-bottom: 0;
}
.card__item-icon {
  margin-right: 0.625rem;
}
.card__item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #5D6C7B;
}
.card__price-w {
  display: flex;
  margin-bottom: 1rem;
}
.card__price-numb {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.card__price-old {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #5D6C7B;
  /* @extend %extend-example */
  text-decoration: line-through;
}
.card__price-new {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8125rem;
  color: #282739;
  /* @extend %extend-example */
}
.card__price-icon {
  border: 0.0813rem solid #EAEBED;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 0.56rem;
  margin-left: 0.625rem;
  transition: background 0.2s;
}
.card__btn {
  width: 100%;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  padding: 0.5rem 2.1rem;
  transition: background 0.2s, padding 0.2s, font-size 0.2s;
}
.card__icon-compare {
  position: absolute;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.card__tag_red {
  background: #EE685F;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
}
.card__tag_green {
  background: #75D14A;
  padding: 0.25rem 0.5rem;
  top: 10px;
  left: 10px;
}

.btn {
  display: flex;
  align-items: center;
  background: #6F73EE;
  border: 1.5px solid #6F73EE;
  border-radius: 5px;
  font-family: "Jost", sans-serif;
}
.btn__burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn__line {
  display: block;
  background: #FFFFFF;
  height: 1.3px;
  margin-bottom: 0.3125rem;
  width: 13px;
  border-radius: 5px;
}
.btn__line:nth-child(3) {
  width: 7px;
  margin-bottom: 0;
}
.btn__text {
  font-size: 0.96rem;
  font-weight: 500;
  line-height: 23px;
  color: #FFFFFF;
  /* @extend %extend-example */
}

.tag {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  border-radius: 5px;
  position: absolute;
}

.notify__checkbox {
  display: none;
}
.notify__wrapper {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #282739;
  /* @extend %extend-example */
  display: flex;
  align-items: center;
  max-width: 20.9375rem;
}
.notify__custom-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  background: #fff;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 0.75rem;
  vertical-align: sub;
}
.notify__custom-checkbox::before {
  content: "";
  display: inline-flex;
  flex-shrink: 0;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-image: url("../images/check.svg");
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  transition: 0.2s ease-in;
}
.notify__checkbox:checked + .notify__custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.notify__form-footer {
  margin-bottom: 4.875rem;
}
.notify__link {
  text-decoration: underline;
}

.header__nav-contacts {
  padding-top: 11px;
  padding-bottom: 11px;
}
.header__nav-research {
  padding-top: 1.6rem;
  padding-bottom: 2.5rem;
}
.header__main {
  padding: 3.5rem 0;
  margin-bottom: 4.5rem;
}

.nav-contacts {
  display: flex;
  justify-content: space-between;
}
.nav-contacts__socials {
  display: flex;
  gap: 2.1rem;
}
.nav-contacts__logo {
  display: none;
}
.nav-contacts__link-wrapper {
  gap: 2.2rem;
}
.nav-contacts__link {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.nav-contacts__messangers {
  gap: 0.5313rem;
}
.nav-contacts__phone {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #282739;
  /* @extend %extend-example */
}
.nav-contacts__icon {
  transition: width 0.2s, height 0.2s;
}

.nav-research__logo {
  margin-right: 2.1875rem;
}
.nav-research__presearch-wrapper {
  gap: 1.25rem;
  margin-right: 2.9375rem;
  transition: background 0.2s;
}
.nav-research__input {
  border: none;
  min-width: 32.6875rem;
  margin: 0 1.25rem;
  outline: none;
}
.nav-research__input::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.nav-research__search-w {
  border: 1.5008px solid #6F73EE;
  border-radius: 7.5px;
  max-height: 2.5rem;
}
.nav-research__btn-catalog-w {
  padding: 0.5rem 1.125rem 0.5rem 0.9375rem;
  gap: 0.8125rem;
}
.nav-research__input-control {
  padding: 0.6rem;
  background: #6F73EE;
  border: 1.5008px solid #6F73EE;
  border-radius: 0px 5px 5px 0px;
}
.nav-research__icon {
  transition: width 0.2s, height 0.2s;
}
.nav-research__buttons-w {
  gap: 1.5625rem;
}
.nav-research__busket-btn {
  gap: 0.625rem;
}
.nav-research__text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #282739;
  /* @extend %extend-example */
}
.main {
  min-height: 445px;
  position: relative;
  background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url("../images/bg-main.jpeg") top -145px right/auto 620px no-repeat, url("../images/bg-main.jpeg") top -145px left/1101px 620px no-repeat;
  border-radius: 10px;
}
.main .title {
  color: #FFFFFF;
}
.main__contacts-w {
  margin-bottom: 1.1875rem;
}
.main__icon-adress {
  margin-right: 0.5rem;
}
.main__adress-text {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  margin-right: 0.625rem;
}
.main__time-work {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  opacity: 0.7;
}
.main__title {
  max-width: 38.25rem;
  margin-bottom: 0.4375rem;
}
.main__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8125rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  margin-bottom: 1.7rem;
}
.main__descr-w {
  gap: 2.1875rem;
  margin-bottom: 2.2rem;
}
.main__feature-w {
  gap: 0.9375rem;
  max-width: 12.75rem;
}
.main__icon-feature {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 12px;
}
.main__text-feature {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #FFFFFF;
  /* @extend %extend-example */
}
.main__button {
  padding: 0.9375rem 2.5625rem;
  background: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 23px;
  color: #6F73EE;
  /* @extend %extend-example */
  transition: background 0.2s, color 0.2s, padding 0.2s;
}

@media screen and (min-width: 1301px) and (max-width: 1380px) {
  .header html {
    font-size: 15px;
  }
  .header .container-b {
    max-width: 80.25rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .header html {
    font-size: 14px;
  }
  .header .nav-research__input {
    min-width: 31.6875rem;
  }
  .header .container-b {
    max-width: 74.25rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .header html {
    font-size: 13px;
  }
  .header .container-l {
    max-width: 55.3125rem;
  }
  .header .container-b {
    max-width: 61.25rem;
  }
  .header .nav-research__input {
    min-width: 18.6875rem;
  }
  .header .main__title {
    max-width: 35.25rem;
  }
  .header .main {
    background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url(../images/bg-main.jpeg) top -145px right/auto 641px no-repeat, url(../images/bg-main.jpeg) top -145px left/1101px 620px no-repeat;
  }
}
@media screen and (min-width: 851px) and (max-width: 992px) {
  .header .nav-research__input {
    min-width: 19.2rem;
  }
  .header .nav-research__text {
    display: none;
  }
  .header .container-l {
    max-width: 47.313rem;
  }
  .header .container-b {
    max-width: 52.25rem;
  }
  .header .btn__text {
    display: none;
  }
  .header .nav-research__btn-catalog-w {
    padding: 0.7rem 0.8rem;
  }
  .header .title {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 850px) {
  .header .nav-research__input {
    min-width: 12.6875rem;
  }
  .header .nav-research__text {
    display: none;
  }
  .header .container-l {
    max-width: 45.3125rem;
  }
  .header .container-b {
    max-width: 47.25rem;
  }
  .header .btn__text {
    display: none;
  }
  .header .nav-research__btn-catalog-w {
    padding: 0.7rem 0.8rem;
  }
  .header .title {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 649px) and (max-width: 768px) {
  .header html {
    font-size: 11px;
  }
  .header .nav-contacts__link-wrapper {
    gap: 0.5rem;
  }
  .header .nav-research__logo {
    margin-right: 1.188rem;
  }
  .header .nav-research__input {
    min-width: 11.2rem;
  }
  .header .nav-research__text {
    display: none;
  }
  .header .container-l {
    max-width: 34.313rem;
  }
  .header .container-b {
    max-width: 39.25rem;
  }
  .header .btn__text {
    display: none;
  }
  .header .nav-research__btn-catalog-w {
    padding: 0.7rem 0.8rem;
  }
  .header .title {
    font-size: 1.7rem;
  }
  .header .nav-research__presearch-wrapper {
    margin-right: 0.938rem;
  }
  .header .nav-research__buttons-w {
    gap: 0.7rem;
  }
  .header .main {
    background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url("../images/bg-main.jpeg") top -145px right -150px/auto 686px no-repeat, url("../images/bg-main.jpeg") top -145px left/1101px 620px no-repeat;
  }
  .header .title {
    font-size: 1.7rem;
  }
  .header .main__title {
    max-width: 27.25rem;
  }
  .header .main__descr-w {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 648px) {
  .header html {
    font-size: 11px;
  }
  .header .nav-contacts__link-wrapper {
    gap: 0.5rem;
  }
  .header .nav-research__logo {
    margin-right: 1.188rem;
  }
  .header .nav-research__input {
    min-width: 8.2rem;
  }
  .header .nav-research__text {
    display: none;
  }
  .header .container-l {
    max-width: 32.313rem;
  }
  .header .container-b {
    max-width: 34.25rem;
  }
  .header .btn__text {
    display: none;
  }
  .header .nav-research__btn-catalog-w {
    padding: 0.7rem 0.8rem;
  }
  .header .title {
    font-size: 1.7rem;
  }
  .header .nav-research__presearch-wrapper {
    margin-right: 0.938rem;
  }
  .header .nav-research__buttons-w {
    gap: 0.7rem;
  }
  .header .main {
    background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url("../images/bg-main.jpeg") top -145px right -150px/auto 686px no-repeat, url("../images/bg-main.jpeg") top -145px left/1101px 620px no-repeat;
  }
  .header .title {
    font-size: 1.7rem;
  }
  .header .main__title {
    max-width: 27.25rem;
  }
  .header .main__descr-w {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.2rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 576px) {
  html {
    font-size: 9px;
  }
}
@media screen and (min-width: 436px) and (max-width: 576px) {
  .header .nav-contacts__link-wrapper {
    display: none;
  }
  .header .nav-contacts__phone {
    font-size: 1rem;
    justify-content: flex-end;
  }
  .header .nav-contacts__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .header .nav-research__logo {
    display: none;
  }
  .header .nav-contacts {
    display: flex;
    justify-content: stretch;
  }
  .header .nav-contacts__socials, .header .nav-contacts__logo, .header .nav-contacts__phone {
    flex-basis: 33.33%;
  }
  .header .nav-contacts__socials {
    justify-content: flex-start;
  }
  .header .nav-contacts__messangers {
    gap: 1.5rem;
  }
  .header .nav-research__search-w {
    max-height: 2.8rem;
  }
  .header .nav-research__input-control {
    padding: 0.3rem;
  }
  .header .nav-research__icon-search {
    width: 1.625rem;
    height: 1.2rem;
  }
  .header .nav-research__input {
    min-width: 22.2rem;
  }
  .header .nav-research__icon {
    width: 1.15rem;
    height: 1.15rem;
  }
  .header .nav-research__icon img {
    width: 1.1rem;
    height: 0.9rem;
  }
  .header .main {
    background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url("../images/bg-main.jpeg") top -120px right -200px/auto 500px no-repeat;
  }
  .header .main {
    min-height: 22.25rem;
  }
  .header .main__button {
    border: none;
  }
  .header .title {
    font-size: 1.4rem;
  }
  .header .main__subtitle {
    font-size: 1rem;
  }
  .header .nav-research__text {
    display: none;
  }
  .header .container-l {
    max-width: 38.313rem;
  }
  .header .container-b {
    max-width: 44.25rem;
  }
  .header .btn__text {
    display: none;
  }
  .header .nav-research__btn-catalog-w {
    padding: 0.7rem 0.8rem;
  }
  .header .nav-research__presearch-wrapper {
    margin-right: 0.938rem;
  }
  .header .nav-research__buttons-w {
    gap: 0.7rem;
  }
  .header .main__title {
    max-width: 22.25rem;
  }
  .header .main__descr-w {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.2rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 435px) {
  .header .nav-contacts__link-wrapper {
    display: none;
  }
  .header .nav-contacts__phone {
    font-size: 1rem;
    justify-content: flex-end;
  }
  .header .nav-contacts__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .header .nav-research__logo {
    display: none;
  }
  .header .nav-contacts {
    display: flex;
    justify-content: stretch;
  }
  .header .nav-contacts__socials, .header .nav-contacts__logo, .header .nav-contacts__phone {
    flex-basis: 33.33%;
  }
  .header .nav-contacts__socials {
    justify-content: flex-start;
  }
  .header .nav-contacts__messangers {
    gap: 1.5rem;
  }
  .header .nav-research__search-w {
    max-height: 2.8rem;
  }
  .header .nav-research__input-control {
    padding: 0.3rem;
  }
  .header .nav-research__icon-search {
    width: 1.625rem;
    height: 1.2rem;
  }
  .header .nav-research__input {
    min-width: 8.2rem;
  }
  .header .nav-research__icon {
    width: 1.15rem;
    height: 1.15rem;
  }
  .header .nav-research__icon img {
    width: 1.1rem;
    height: 0.9rem;
  }
  .header .main {
    background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url("../images/bg-main.jpeg") top -120px right -200px/auto 500px no-repeat;
  }
  .header .main {
    min-height: 22.25rem;
  }
  .header .main__button {
    border: none;
  }
  .header .title {
    font-size: 1.4rem;
  }
  .header .main__subtitle {
    font-size: 1rem;
  }
  .header .nav-research__text {
    display: none;
  }
  .header .container-l {
    max-width: 32.313rem;
  }
  .header .container-b {
    max-width: 34.25rem;
  }
  .header .btn__text {
    display: none;
  }
  .header .nav-research__btn-catalog-w {
    padding: 0.7rem 0.8rem;
  }
  .header .nav-research__presearch-wrapper {
    margin-right: 0.938rem;
  }
  .header .nav-research__buttons-w {
    gap: 0.7rem;
  }
  .header .main__title {
    max-width: 22.25rem;
  }
  .header .main__descr-w {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 320px) {
  .header .nav-contacts__link-wrapper {
    display: none;
  }
  .header .nav-contacts__phone {
    font-size: 1rem;
    justify-content: flex-end;
  }
  .header .nav-contacts__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .header .nav-research__logo {
    display: none;
  }
  .header .nav-contacts {
    display: flex;
    justify-content: stretch;
  }
  .header .nav-contacts__socials, .header .nav-contacts__logo, .header .nav-contacts__phone {
    flex-basis: 33.33%;
  }
  .header .nav-contacts__socials {
    justify-content: flex-start;
  }
  .header .nav-contacts__messangers {
    gap: 1.5rem;
  }
  .header .nav-research__search-w {
    max-height: 2.8rem;
  }
  .header .nav-research__input-control {
    padding: 0.3rem;
  }
  .header .nav-research__icon-search {
    width: 1.625rem;
    height: 1.2rem;
  }
  .header .nav-research__input {
    min-width: 8.2rem;
  }
  .header .nav-research__icon {
    width: 1.15rem;
    height: 1.15rem;
  }
  .header .nav-research__icon img {
    width: 1.1rem;
    height: 0.9rem;
  }
  .header .main {
    background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url("../images/bg-main.jpeg") top -120px right -200px/auto 500px no-repeat;
  }
  .header .main {
    min-height: 22.25rem;
  }
  .header .main__button {
    border: none;
  }
  .header .title {
    font-size: 1.4rem;
  }
  .header .main__subtitle {
    font-size: 1rem;
  }
  .header .nav-research__text {
    display: none;
  }
  .header .container-l {
    max-width: 32.313rem;
  }
  .header .container-b {
    max-width: 34.25rem;
  }
  .header .btn__text {
    display: none;
  }
  .header .nav-research__btn-catalog-w {
    padding: 0.7rem 0.8rem;
  }
  .header .nav-research__presearch-wrapper {
    margin-right: 0.938rem;
  }
  .header .nav-research__buttons-w {
    gap: 0.7rem;
  }
  .header .main__title {
    max-width: 22.25rem;
  }
  .header .main__descr-w {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.2rem;
  }
}

.section__test-drive {
  margin-bottom: 6.25rem;
}
.section__test-drive .container-l {
  display: flex;
}
.section__training {
  margin-bottom: 6.25rem;
}
.section__training .container-l {
  display: flex;
  justify-content: flex-end;
}
.section__training .features__img {
  left: 0;
}
.section__training .features__title {
  max-width: 36.5625rem;
}

.features {
  min-height: 26.375rem;
  position: relative;
  display: flex;
}
.features__img {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.625rem;
}
.features__content {
  flex-basis: 57%;
  padding-bottom: 2.375rem;
}
.features__wrapper {
  flex-basis: 58%;
}
.features__title {
  padding-top: 1.6rem;
  max-width: 645px;
  margin-bottom: 1.875rem;
}
.features__text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 1.125rem;
}
.features__item {
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #282739;
  /* @extend %extend-example */
}
.features__item strong {
  font-weight: 500;
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__item-icon {
  margin-right: 0.625rem;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .features .container-l {
    max-width: 56.313rem;
  }
  .features .title {
    font-size: 1.9rem;
  }
  .features .features__text {
    font-size: 1.15rem;
  }
  .features .features__item {
    margin-bottom: 0.625rem;
    font-size: 1rem;
  }
  .features .features__img {
    width: 459px;
    height: 397px;
  }
  .features .features__title {
    padding-top: 1.6rem;
    max-width: 645px;
    margin-bottom: 1.3rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .features {
    min-height: 50.375rem;
  }
  .features .container-l {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 32.313rem;
  }
  .features .title {
    font-size: 1.9rem;
  }
  .features .features__text {
    font-size: 1.15rem;
  }
  .features .features__item {
    margin-bottom: 0.625rem;
    font-size: 1rem;
  }
  .features .features__img {
    width: 459px;
    height: 397px;
  }
  .features .features__title {
    padding-top: 1.6rem;
    max-width: 645px;
    margin-bottom: 1.3rem;
    text-align: center;
    font-size: 1.7rem;
  }
  .features .features__img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 0.625rem;
    width: auto;
    height: auto;
  }
  .features .features__wrapper {
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .section__training .features__wrapper {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .section__training {
    min-height: 56.375rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .features {
    min-height: 50.375rem;
  }
  .features .container-l {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 32.313rem;
  }
  .features .title {
    font-size: 1.9rem;
  }
  .features .features__text {
    font-size: 1.15rem;
  }
  .features .features__item {
    margin-bottom: 0.625rem;
    font-size: 1rem;
  }
  .features .features__img {
    width: 459px;
    height: 397px;
  }
  .features .features__title {
    padding-top: 1.6rem;
    max-width: 645px;
    margin-bottom: 1.3rem;
    text-align: center;
    font-size: 1.7rem;
  }
  .features .features__img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 0.625rem;
    width: auto;
    height: auto;
  }
  .features .features__wrapper {
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .section__training {
    min-height: 56.375rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .features {
    min-height: 50.375rem;
  }
  .features .container-l {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 32.313rem;
  }
  .features .title {
    font-size: 1.9rem;
  }
  .features .features__text {
    font-size: 1.15rem;
  }
  .features .features__item {
    margin-bottom: 0.625rem;
    font-size: 1rem;
  }
  .features .features__title {
    padding-top: 1.6rem;
    max-width: 645px;
    margin-bottom: 1.3rem;
    text-align: center;
    font-size: 1.7rem;
  }
  .features .features__img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 0.625rem;
    width: 29.188rem;
    height: auto;
  }
  .features .features__wrapper {
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .section__training {
    min-height: 56.375rem;
  }
}

.store {
  margin-bottom: 6.25rem;
}
.store .store-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
}
.store__title {
  max-width: 45.75rem;
  text-align: center;
}
.store__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  transition: box-shadow 0.2s, transform 0.2s;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .store .card {
    flex-basis: 23%;
  }
  .store .container-l {
    max-width: 52.313rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .store .card {
    flex-basis: 23%;
  }
  .store .container-l {
    max-width: 34.313rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .store .card {
    flex-basis: 23%;
  }
  .store .container-l {
    max-width: 34.313rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  .store .card {
    flex-basis: 23%;
  }
  .store .card .card__image {
    width: 162px;
    height: 100%;
  }
  .store .container-l {
    max-width: 28.313rem;
  }
  .store .store__cards {
    justify-content: center;
  }
}

.cta {
  min-height: 27.8125rem;
  margin-bottom: 6.25rem;
}
.cta__wrapper {
  background-color: #F4F7FB;
  border-radius: 10px;
}
.cta .container-l {
  position: relative;
}
.cta__img {
  position: absolute;
  bottom: 0;
  right: 45px;
  max-height: 37.9375rem;
}
.cta__content-wrapper {
  display: flex;
}
.cta__content {
  flex-basis: 56%;
}
.cta__title {
  max-width: 38.3125rem;
  margin-top: 5.5rem;
  margin-bottom: 1.9rem;
}
.cta__form-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4375rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 1.25rem;
}
.cta__input-group {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  position: relative;
}
.cta__input {
  min-width: 16.4375rem;
  padding: 0.9375rem 1.5625rem;
  border: 1px solid #EAEBED;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  color: #282739;
  /* @extend %extend-example */
}
.cta__input.is-invalid {
  border: 1px solid red;
}
.cta__form-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  color: #fff;
  /* @extend %extend-example */
  padding: 0.9375rem 1.5625rem;
  transition: background 0.2s, padding 0.2s, font-size 0.2s;
}
.cta__form-footer {
  margin-bottom: 4.875rem;
  position: relative;
}
.cta .just-validate-error-label {
  position: absolute;
  display: inline-block;
  top: -1rem;
  left: 0;
  font-size: 0.8rem;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .cta .container-l {
    max-width: 54.313rem;
  }
  .cta .cta__img {
    right: -34px;
  }
  .cta .title {
    font-size: 2rem;
  }
  .cta .cta__input {
    min-width: 11.438rem;
  }
  .cta .cta__form-button {
    font-size: 0.8rem;
  }
  .cta .cta__title {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .cta .container-b {
    max-width: 46.25rem;
  }
  .cta .container-l {
    max-width: 37.313rem;
  }
  .cta .cta__img {
    display: none;
  }
  .cta .cta__content {
    flex-basis: 100%;
  }
  .cta .title {
    font-size: 2rem;
  }
  .cta .cta__input {
    min-width: 11.438rem;
  }
  .cta .cta__form-button {
    font-size: 0.8rem;
  }
  .cta .cta__title {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .cta .container-b {
    max-width: 33.25rem;
  }
  .cta .container-l {
    max-width: 29.313rem;
  }
  .cta .cta__img {
    display: none;
  }
  .cta .cta__content {
    flex-basis: 100%;
  }
  .cta .title {
    font-size: 2rem;
  }
  .cta .cta__input {
    min-width: 11.438rem;
  }
  .cta .cta__form-button {
    font-size: 0.8rem;
  }
  .cta .cta__title {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .cta .container-b {
    max-width: 33.25rem;
  }
  .cta .container-l {
    max-width: 29.313rem;
  }
  .cta .cta__img {
    display: none;
  }
  .cta .cta__content {
    flex-basis: 100%;
  }
  .cta .title {
    font-size: 2rem;
  }
  .cta .cta__input {
    min-width: 11.438rem;
  }
  .cta .cta__form-button {
    font-size: 0.8rem;
  }
  .cta .cta__title {
    margin-top: 3.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  .cta .container-b {
    max-width: 33.25rem;
  }
  .cta .container-l {
    max-width: 29.313rem;
  }
  .cta .cta__img {
    display: none;
  }
  .cta .cta__content {
    flex-basis: 100%;
  }
  .cta .title {
    font-size: 2rem;
  }
  .cta .cta__input {
    min-width: 11.438rem;
  }
  .cta .cta__form-button {
    font-size: 0.8rem;
  }
  .cta .cta__title {
    margin-top: 3.5rem;
  }
}

.footer {
  background: rgb(244, 247, 251);
}
.footer__seporator {
  height: 0.0625rem;
  background-color: rgba(93, 108, 123, 0.15);
}
.footer__top {
  margin-bottom: 2.875rem;
}
.footer .submit {
  background: #6F73EE;
  padding: 1.2rem 0;
}
.footer .submit__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .submit__text {
  max-width: 435px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  text-transform: uppercase;
}
.footer .submit__input-group {
  display: flex;
  gap: 1.25rem;
}
.footer .submit__input {
  min-width: 25.625rem;
  padding: 0.9375rem 1.5625rem;
  border: none;
  border-radius: 0.3125rem;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  /* @extend %extend-example */
}
.footer .submit input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
  /* @extend %extend-example */
}
.footer .submit__btn {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 0.9375rem 1.5625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  color: #6F73EE;
  /* @extend %extend-example */
  transition: background 0.2s, padding 0.2s, font-size 0.2s, color 0.2s;
}
.footer__middle {
  margin-bottom: 3.9rem;
}
.footer .menu .container-l {
  display: flex;
  justify-content: space-between;
  gap: 5.875rem;
}
.footer .menu__nav {
  display: flex;
  gap: 7.97rem;
}
.footer .menu__contacts {
  display: flex;
  gap: 4.6875rem;
}
.footer .menu__list_col {
  columns: 2;
  column-gap: 2.875rem;
}
.footer .menu__title {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 1.0625rem;
}
.footer .menu__item {
  margin-bottom: 0.625rem;
}
.footer .menu__link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.footer .menu__info {
  display: flex;
  gap: 2.5rem;
}
.footer .menu__info-wrapper {
  display: flex;
  flex-direction: column;
}
.footer .menu__info-wrapper span {
  margin-bottom: 0.3125rem;
}
.footer .menu__center-name {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #282739;
  /* @extend %extend-example */
}
.footer .menu__center-phone {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4375rem;
  color: #282739;
  /* @extend %extend-example */
}
.footer .menu__center-time {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.footer .menu__cta {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #6F73EE;
  /* @extend %extend-example */
}
.footer .links-social {
  margin-top: 2.25rem;
  margin-bottom: 1.9rem;
}
.footer .links-social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .links-social__downl {
  display: flex;
  gap: 3.6875rem;
}
.footer .links-social__apps-w {
  display: flex;
  gap: 0.625rem;
}
.footer .links-social__app {
  border-radius: 5px;
  transition: box-shadow 0.2s, transform 0.2s;
}
.footer .links-social__media-w {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .links-social__media-item {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  background: #fff;
  border-radius: 0.3125rem;
  transition: box-shadow 0.2s, transform 0.2s;
}
.footer .links-social .vk {
  padding: 0.3125rem 1rem 0.4375rem 0.75rem;
}
.footer .links-social .youtube {
  padding: 0.3125rem 1.6875rem 0.4375rem 0.875rem;
}
.footer .links-social .telegram {
  padding: 0.3125rem 1.5625rem 0.4375rem 0.75rem;
}
.footer .links-social__media-text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #282739;
  /* @extend %extend-example */
}
.footer .links-social__media-number {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.footer .credits {
  padding: 0.95rem 0;
}
.footer .credits .container-l {
  display: flex;
  justify-content: space-between;
}
.footer .credits__content-l {
  display: flex;
  align-items: center;
  gap: 2.75rem;
}
.footer .credits__link {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.footer .credits__content-r {
  display: flex;
  align-items: center;
  gap: 2.3125rem;
}
.footer .credits__payment-list {
  display: flex;
  align-items: center;
  gap: 0.3063rem;
}
.footer .credits__payment-item {
  transition: box-shadow 0.2s, transform 0.2s;
}
.footer .credits__content-r-wrapper {
  display: flex;
  align-items: center;
}
.footer .credits__chats-text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #282739;
  /* @extend %extend-example */
  margin-right: 0.9375rem;
}
.footer .credits__chats-links {
  margin-right: 0.875rem;
  transition: width 0.2s, height 0.2s;
}
.footer .credits__chats-links:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .footer .container-l {
    max-width: 62.313rem;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .footer .container-l {
    max-width: 54.313rem;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}
.modal .notify {
  padding-left: 1.0625rem;
}
.modal .notify__wrapper {
  align-items: start;
  max-width: 14.25rem;
}
.modal .notify__custom-checkbox {
  background: #F4F7FB;
}
.modal .notify__link {
  text-decoration: none;
  color: #6F73EE;
}
.modal__dialog {
  max-width: 49.375rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.5rem 2.5rem 2.3125rem 2.5rem;
  gap: 4.3125rem;
  margin: auto;
  background-color: #fff;
  transform: translateY(-10%);
  transition: transform 0.2s;
}
.modal__content {
  flex-basis: 41.3%;
}
.modal__photo {
  flex-basis: 49%;
}
.modal__title {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 2.25rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 0.5625rem;
}
.modal__subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 1.8125rem;
}
.modal__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 5.375rem;
}
.modal__form-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #5D6C7B;
  /* @extend %extend-example */
  margin-bottom: 1.25rem;
}
.modal__input {
  padding: 0.9375rem 1.5625rem;
  border: 1px solid #EAEBED;
  border-radius: 5px;
  min-width: 16.4375rem;
  margin-bottom: 1.25rem;
}
.modal input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  color: #5D6C7B;
  /* @extend %extend-example */
  letter-spacing: 0.155em;
}
.modal__form-button {
  padding: 0.9375rem 3.5625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  transition: background 0.2s, padding 0.2s, font-size 0.2s, color 0.2s;
}
.modal__form-footer {
  margin-bottom: 2.31;
  position: relative;
}
.modal__form-footer .just-validate-error-label {
  position: absolute;
  top: -1rem;
  display: inline-block;
  left: 0;
  font-size: 0.8rem;
}
.modal__close {
  position: absolute;
  top: 0.875rem;
  right: 0.875rem;
}
.modal__input-group {
  position: relative;
  margin-bottom: 1rem;
}
.modal__input-group .just-validate-error-label {
  position: absolute;
  top: -1rem;
  display: inline-block;
  left: 0;
  font-size: 0.8rem;
}

.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal__dialog {
  transform: translateY(0);
}

/*# sourceMappingURL=index.css.map */
