@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.features__item, .main__feature-w, .main__descr-w, .main__contacts-w, .nav-research__link, .nav-research__busket-btn, .nav-research__buttons-w, .nav-research__search-w, .nav-research__presearch-wrapper, .nav-research, .nav-contacts__phone, .nav-contacts__messangers, .nav-contacts__link-wrapper {
  display: flex;
  align-items: center;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  position: relative;
  color: #282739;
}

a {
  text-decoration: none;
  color: black;
}

.separator {
  width: 100%;
  margin: 0 auto;
  height: 1.5px;
  background: #ECF3FF;
}

.container-b {
  max-width: 1380px;
  margin: 0 auto;
  width: 100%;
}

.container-l {
  max-width: 1109px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.6875rem;
  color: #282739;
  /* @extend %extend-example */
  text-transform: uppercase;
}

.title {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 3.1875rem;
  color: #282739;
  /* @extend %extend-example */
  text-transform: uppercase;
}

.btn {
  display: flex;
  align-items: center;
  background: #6F73EE;
  border: 1.5px solid #6F73EE;
  border-radius: 5px;
}
.btn__burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn__line {
  display: block;
  background: #FFFFFF;
  height: 1.3px;
  margin-bottom: 0.3125rem;
  width: 13px;
  border-radius: 5px;
}
.btn__line:nth-child(3) {
  width: 7px;
  margin-bottom: 0;
}
.btn__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 23px;
  color: #FFFFFF;
  /* @extend %extend-example */
}

.header__nav-contacts {
  padding-top: 11px;
  padding-bottom: 11px;
}
.header__nav-research {
  padding-top: 1.8125rem;
  padding-bottom: 2.5625rem;
}
.header__main {
  padding: 3.5rem 0;
  margin-bottom: 4.5rem;
}

.nav-contacts {
  display: flex;
  justify-content: space-between;
}
.nav-contacts__socials {
  display: flex;
  gap: 1.875rem;
}
.nav-contacts__link-wrapper {
  gap: 1.875rem;
}
.nav-contacts__link {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.nav-contacts__messangers {
  gap: 0.5313rem;
}
.nav-contacts__phone {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #282739;
  /* @extend %extend-example */
}

.nav-research__logo {
  margin-right: 2.1875rem;
}
.nav-research__presearch-wrapper {
  gap: 1.25rem;
  margin-right: 2.9375rem;
}
.nav-research__input {
  border: none;
  min-width: 32.6875rem;
  margin: 0 1.25rem;
}
.nav-research__input::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #5D6C7B;
  /* @extend %extend-example */
}
.nav-research__search-w {
  border: 1.5008px solid #6F73EE;
  border-radius: 7.5px;
}
.nav-research__btn-catalog-w {
  padding: 0.5rem 1.125rem 0.5rem 0.9375rem;
  gap: 0.8125rem;
}
.nav-research__input-control {
  padding: 0.75rem;
  background: #6F73EE;
  border: 1.5008px solid #6F73EE;
  border-radius: 0px 5px 5px 0px;
}
.nav-research__buttons-w {
  gap: 1.5625rem;
}
.nav-research__busket-btn {
  gap: 0.625rem;
}
.nav-research__text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #282739;
  /* @extend %extend-example */
}
.main {
  min-height: 445px;
  position: relative;
  background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%), url("../images/bg-main.jpeg") top -145px right/auto 620px no-repeat, url("../images/bg-main.jpeg") top -145px left/1101px 620px no-repeat;
  border-radius: 10px;
}
.main .title {
  color: #FFFFFF;
}
.main__contacts-w {
  margin-bottom: 1.1875rem;
}
.main__icon-adress {
  margin-right: 0.5rem;
}
.main__adress-text {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.0625rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  margin-right: 0.625rem;
}
.main__time-work {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  opacity: 0.7;
}
.main__title {
  max-width: 38.25rem;
  margin-bottom: 0.4375rem;
}
.main__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8125rem;
  color: #FFFFFF;
  /* @extend %extend-example */
  margin-bottom: 1.75rem;
}
.main__descr-w {
  gap: 2.1875rem;
  margin-bottom: 2.375rem;
}
.main__feature-w {
  gap: 0.9375rem;
  max-width: 12.75rem;
}
.main__icon-feature {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 12px;
}
.main__text-feature {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #FFFFFF;
  /* @extend %extend-example */
}
.main__button {
  padding: 0.9375rem 2.5625rem;
  background: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 23px;
  color: #6F73EE;
  /* @extend %extend-example */
}

.section__test-drive {
  margin-bottom: 6.25rem;
}
.section__training .container-l {
  display: flex;
  justify-content: flex-end;
}
.section__training .features__img {
  left: 0;
}
.section__training .features__title {
  max-width: 36.5625rem;
}

.features {
  min-height: 26.375rem;
  position: relative;
  display: flex;
}
.features__img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 0.625rem;
}
.features__content {
  flex-basis: 57%;
  padding-bottom: 2.375rem;
}
.features__title {
  padding-top: 1.75rem;
  max-width: 40.3125rem;
  margin-bottom: 1.875rem;
}
.features__text {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #282739;
  /* @extend %extend-example */
  margin-bottom: 1.125rem;
}
.features__item {
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #282739;
  /* @extend %extend-example */
}
.features__item strong {
  font-weight: 500;
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__item-icon {
  margin-right: 0.625rem;
}

/*# sourceMappingURL=index.css.map */
