.store {
  margin-bottom: 6.25rem;
  .store-w {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
  }
  &__title {
    max-width: 45.75rem;
    text-align: center;
  }
  &__cards {
    display: flex;
    gap: 1.6rem;
  }
}