.footer {
  background: rgba(244, 247, 251, 1);
  &__seporator {
    height: .0625rem;
    background-color: rgba(93, 108, 123, 0.15);
  }
  &__top {
    margin-bottom: 2.875rem;
  }
  .submit {
    background: #6F73EE;
    padding: 1.2rem 0;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__text {
      max-width: 435px;
      @include font(1.125rem, 500, 1.625rem, #FFFFFF);
      text-transform: uppercase;
    }
    &__input-group {
      display: flex;
      gap: 1.25rem;
    }
    &__input {
      min-width: 25.625rem;
      padding: .9375rem 1.5625rem;
      border: none;
      border-radius: .3125rem;
      background: rgba(255, 255, 255, 0.2);
      @include font(1rem, 400, 23px, #FFFFFF);
    }
    input::placeholder {
      @include font(1rem, 400, 23px, #FFFFFF);
    }
    &__btn {
      background: #FFFFFF;
      border-radius: 5px;
      padding: .9375rem 1.5625rem;
      @include font(1rem, 400, 1.4375rem, #6F73EE);
      transition: background 0.2s, padding 0.2s, font-size 0.2s, color 0.2s;
    }
  }
  &__middle {
    margin-bottom: 3.9rem;
  }
  .menu {
    .container-l {
      display: flex;
      justify-content: space-between;
      gap: 5.875rem;
    }
    &__nav {
      display: flex;
      gap: 7.97rem;
    }
    &__contacts {
      display: flex;
      gap: 4.6875rem;
    }
    &__list {
      &_col {
        columns: 2;
        column-gap: 2.875rem;
      }
    }
    &__title {
      @include font(1.125rem, 500, 1.625rem, #282739);
      margin-bottom: 1.0625rem;
    }
    &__item {
      margin-bottom: .625rem;
    }
    &__link {
      @include font(.875rem, 400, 1.25rem, #5D6C7B);
    }
    &__info {
      display: flex;
      gap: 2.5rem;
    }
    &__info-wrapper {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: .3125rem;
      }
    }
    &__center-name {
      @include font(.75rem, 400, 1.0625rem, #282739);
    }
    &__center-phone {
      @include font(1rem, 500, 1.4375rem, #282739);
    }
    &__center-time {
      @include font(.75rem, 400, 1.0625rem, #5D6C7B);
    }
    &__cta {
      @include font(.75rem, 500, 1.0625rem, #6F73EE);
    }
  }
  .links-social {
    margin-top: 2.25rem;
    margin-bottom: 1.9rem;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__downl {
      display: flex;
      gap: 3.6875rem;
    }
    &__apps-w {
      display: flex;
      gap: .625rem;
    }
    &__app {
      border-radius: 5px;
      transition: box-shadow 0.2s, transform 0.2s;
    }
    &__media-w {
      display: flex;
      align-items: center;
      gap: .5rem;
    }
    &__media-item {
      display: flex;
      align-items: center;
      gap: .8125rem;
      background: #fff;
      border-radius: .3125rem;
      transition: box-shadow 0.2s, transform 0.2s;
    }
    .vk {
      padding: .3125rem 1rem .4375rem .75rem;
    }
    .youtube {
      padding: .3125rem 1.6875rem .4375rem .875rem;
    }
    .telegram {
      padding: .3125rem 1.5625rem .4375rem .75rem;
    }
    &__media-text {
      @include font(.875rem, 500, 1.25rem, #282739);
    }
    &__media-number {
      @include font(.625rem, 400, .875rem, #5D6C7B);
    }
  }
  .credits {
    padding: 0.95rem 0;
    .container-l {
      display: flex;
      justify-content: space-between;
    }
    &__content-l {
      display: flex;
      align-items: center;
      gap: 2.75rem;
    }
    &__link {
      @include font(.75rem, 400, 1.0625rem, #5D6C7B);
    }
    &__content-r {
      display: flex;
      align-items: center;
      gap: 2.3125rem;
    }
    &__payment-list {
      display: flex;
      align-items: center;
      gap: .3063rem;
    }
    &__payment-item {
      transition: box-shadow 0.2s, transform 0.2s;
    }
    &__content-r-wrapper {
      display: flex;
      align-items: center;
    }
    &__chats-text {
      @include font(.875rem, 400, 1.25rem, #282739);
      margin-right: .9375rem;
    }
    &__chats-links {
      margin-right: .875rem;
      &:last-child {
        margin-right: 0;
      }
      transition: width 0.2s, height 0.2s;
    }
  }
}