/* ===== header ===== */
.nav-contacts__link:hover {
	text-decoration: underline;
}
.nav-contacts__icon:hover {
	width: .875rem;
	height: .875rem;
}
.credits__chats-links:hover {
	width: 17px;
	height: 17px;
}
.nav-contacts__phone:hover {
	text-decoration: underline;
}
.nav-research__btn-catalog-w:hover {
	cursor: pointer;
}
.nav-research__presearch-wrapper{
	.btn:hover {
		background: #595ccb;
	}
}
.nav-research__input-control:hover {
	background: #595ccb;
	cursor: pointer;
}
.nav-research__text:hover {
	text-decoration: underline;
	cursor: pointer;
}
.nav-research__icon:hover {
	height: 22px;
	width: 22px;
}
.main__adress-text:hover {
	text-decoration: underline;
}
.main__button:hover {
	cursor: pointer;
	background: #efefef;
	color: #3e43e6;
	padding-right:  2.7rem;
	padding-left: 2.7rem;
}
/* ===== card-animations SECTION-store ===== */
.card__price-icon:hover {
	background: #efefef;
	cursor: pointer;
}
.store__card:hover {
	box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(-5px);
	cursor: pointer;
}
.card__btn:hover {
	font-size: 0.8rem;
	background: #595ccb;
	cursor: pointer;
	padding: 0.5rem 1.9rem;
	.card__content {
		padding: 1.23rem 1.4rem;
	}
}
.card__icon-compare:hover {
	border: 1px solid grey;
	cursor: pointer;
}
.notify__custom-checkbox:hover {
	cursor: pointer;
}
.notify__text:hover {
	cursor: pointer;
}
.cta__form-button:hover {
	font-size: 1.1rem;
	background: #595ccb;
	cursor: pointer;
	padding: 0.5rem 1.8rem;
}
.submit__input-group {
	.submit__btn:hover {
		cursor: pointer;
		background: #efefef;
		color: #3e43e6;
		padding: 0.9375rem 1.4rem;
		font-size: 1.1rem;
	}
}
.menu__link:hover, .menu__title:hover, .menu__center-name:hover, .menu__center-phone:hover, .menu__cta:hover, .credits__link:hover {
	text-decoration: underline;
	cursor: pointer;
}
.links-social__app:hover, .links-social__media-item:hover, .credits__payment-item:hover {
	box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.1);
	transform: translateY(-5px);
}
.modal__form-button:hover {
	font-size: 1.1rem;
	background: #595ccb;
	cursor: pointer;
	padding: 0.9375rem 3.6rem;
}