body
	font-family: $default-font
	font-size: $font-s
	font-style: normal
	font-weight: $font-w
	min-height: 100vh
	position: relative
	.btn
		display: inline-flex
		justify-content: center
		align-items: center
		background-color: #F6A219
		transition: 0.5s
		padding: 0 24px
		&:hover
			background-color: #e69714

a
	text-decoration: none
	color: black

.container-1
	max-width: $content-width-b
	margin: 0 auto
	width: 100%

.container-2
	max-width: $content-width-l
	margin: 0 auto
	width: 100%

