@mixin font($font-s, $font-w, $line-height, $color) {
  font-size: $font-s;
  font-weight: $font-w;
  line-height: $line-height;
  color: $color;
	/* @extend %extend-example */
}
//dynamic values repeated many times