$content-width-b: 86.25rem;
$content-width-l: 69.3125rem;
$default-font: 'Jost', sans-serif;
$font-s: 1.125rem;
$font-w: 500;
$line-height: 140%;
$color-default: #282739;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
//variables values